@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

header {
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

header h1{
    background-color: #00669F;
    padding: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}

header p {
    background-color: #1CD1B0;
    padding: 5px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px 24px;
    padding: 40px 20px;
}

/* Estilização dos cards */
.hero-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 300px;
    background-color: #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Estilização do ícone de curtida com position absolute referente ao elemento hero-card */
.hero-card .favorite-icon {
    width: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
}

/* Estilização específica para uma classe dentro de outra  */
.hero-card .background-image {
    width: 100%;
}

/*Tags img por padrão são inline*/
.hero-card .profile-image {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-text {
    text-align: center;
    padding: 10px 30px;
}
.card-text h2 {
    margin: 10px 0;
    font-size: 30px;
}

.hero-card .card-text button {
    background-color: #00669F;
    border-style: none;
    margin: 10px;
    padding: 10px 20px;
    color: white;
}

footer {
    background-color: #00669F;
    padding: 10px;
    color: white;
}