@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: .9375rem;
}

.main-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #004AAD;
    color: #E5E5E5;
    padding: 5px;
    height: fit-content;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    min-height: 10vh;
}

.logo img{
    width: 300px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.main-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.site-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    background-image: url('https://cdn.pixabay.com/photo/2021/11/20/05/15/car-6810885_960_720.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
    padding: 10px;
    width: 100%;
    min-height: 90vh;
}

.search input {
    padding: 20px;
    width: 40%;
    border: none;
    border-radius: 10px 0 0 10px;
    height: fit-content;
    font-size: large;
}

.search input::placeholder {
    font-size: large;
    text-transform: uppercase;
  }

.search button {
    padding: 20px;
    background-color: #004AAD;
    color: #fff;
    border: none;
    border-radius: 0 10px 10px 0;
    width: 30%;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 40px 20px;
}

.main-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.title-site {
    padding: 40px 20px;
    font-size: 2rem;
}

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 400px;
    background-color: #F3F3F3;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services .background-image {
    width: 100%;
}

.card-text {
    text-align: center;
    padding: 10px 30px;
}
.card-text h2 {
    margin: 10px 0;
    font-size: 1.875rem;
}

.list-service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .card-text button {
    background-color: #004AAD;
    border-style: none;
    margin: 10px;
    padding: 10px 20px;
    color: white;
}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding: 40px 20px;
    background-color: #004AAD;
    color: #fff;
}

.promo {
    width: 560px;
    height: 315px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00669F;
    padding: 10px;
    color: white;
    gap: 12px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
}

.social-links a {
    text-decoration: none;
    color: #fff;
}